@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    background: rgb(244, 244, 244);
    font-family: "Open Sans", "Noto Sans", HelveticaNeueCyr, Helvetica, sans-serif;
    font-size: 11pt;
}

main {
    position: relative !important;
    left: unset !important;
}

a {
    text-decoration: none;
    color: white;
}


/*Header*/

*,
::after,
::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

::after,
::before {
    --tw-content: ''
}

:host,
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    line-height: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

[role=button],
button {
    cursor: pointer
}

:disabled {
    cursor: default
}

svg {
    display: block;
    vertical-align: middle
}

[hidden] {
    display: none
}

*,
::after,
::before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.inset-0 {
    inset: 0
}

.inset-x-0 {
    left: 0;
    right: 0
}

.bottom-0 {
    bottom: 0
}

.bottom-10 {
    bottom: 2.5rem
}

.left-1\/2 {
    left: 50%
}

.left-full {
    left: 100%
}

.right-0 {
    right: 0
}

.z-0 {
    z-index: 0
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.z-50 {
    z-index: 50
}

.-m-3 {
    margin: -.75rem
}

.block {
    display: block
}

.flex {
    display: flex
}

.hidden {
    display: none
}

.h-10 {
    height: 2.5rem
}

.h-\[50px\] {
    height: 50px
}

.h-full {
    height: 100%
}

.w-10 {
    width: 2.5rem
}

.w-\[38\%\] {
    width: 38%
}

.w-\[50px\] {
    width: 50px
}

.w-full {
    width: 100%
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.justify-between {
    justify-content: space-between
}

.gap-10 {
    gap: 2.5rem
}

.gap-6 {
    gap: 1.5rem
}

.rounded-full {
    border-radius: 9999px
}

.rounded-md {
    border-radius: .375rem
}

.bg-violet-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(245 243 255 / var(--tw-bg-opacity))
}

.bg-white\/70 {
    background-color: rgb(255 255 255 / .7)
}

.p-3 {
    padding: .75rem
}

.p-5 {
    padding: 1.25rem
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.pl-5 {
    padding-left: 1.25rem
}

.leading-none {
    line-height: 1
}

.backdrop-blur-sm {
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 150ms
}

.transition-colors {
    transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 150ms
}

.after\:absolute::after {
    content: var(--tw-content);
    position: absolute
}

.after\:-bottom-\[5px\]::after {
    content: var(--tw-content);
    bottom: -5px
}

.after\:block::after {
    content: var(--tw-content);
    display: block
}

.after\:h-px::after {
    content: var(--tw-content);
    height: 1px
}

.after\:w-full::after {
    content: var(--tw-content);
    width: 100%
}

.after\:origin-right::after {
    content: var(--tw-content);
    transform-origin: right
}

.after\:scale-x-0::after {
    content: var(--tw-content);
    --tw-scale-x: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.after\:bg-current::after {
    content: var(--tw-content);
    background-color: currentColor
}

.after\:transition-transform::after {
    content: var(--tw-content);
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: 150ms
}

.hover\:bg-violet-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(245 243 255 / var(--tw-bg-opacity))
}

.hover\:after\:origin-left:hover::after {
    content: var(--tw-content);
    transform-origin: left
}

.hover\:after\:scale-x-100:hover::after {
    content: var(--tw-content);
    --tw-scale-x: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@media (min-width:640px) {
    .sm\:flex {
        display: flex
    }

    .sm\:w-full {
        width: 100%
    }
}

@media (min-width:768px) {
    .md\:h-\[80px\] {
        height: 80px
    }

    .md\:w-\[80px\] {
        width: 80px
    }

    .md\:gap-8 {
        gap: 2rem
    }

    .md\:p-10 {
        padding: 2.5rem
    }

    .md\:px-10 {
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }

    .md\:py-6 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }

    .md\:pr-10 {
        padding-right: 2.5rem
    }
}

@media (min-width:1024px) {
    .lg\:block {
        display: block
    }

    .lg\:w-2\/3 {
        width: 66.666667%
    }
}

/*/Header*/

/* Footer */

footer#site-footer {
    margin: 10px;
    width: calc(100% - 20px);
    background: #191919;
    padding: 1rem;
    color: #a8a8a8;
    border-radius: 20px
}

footer#site-footer section.horizontal-footer-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 2.38rem 2rem
}

footer#site-footer #footer-logo {
    margin-right: auto;
    flex-shrink: 0
}

footer#site-footer #footer-logo img {
    height: 2.28rem
}

footer#site-footer section.horizontal-footer-section#footer-bottom-section {
    padding: 0;
    margin: 0 2rem 0 2rem
}

footer#site-footer #footer-social-buttons {
    justify-self: flex-end;
    margin-left: auto
}

#footer-social-buttons i {
    font-size: 25px
}

footer#site-footer #footer-social-buttons img {
    margin-left: .68rem
}

footer#site-footer #footer-social-buttons img:hover {
    cursor: pointer
}

@media screen and (max-width:959px) {
    footer#site-footer section.horizontal-footer-section {
        flex-direction: column;
        flex-wrap: wrap
    }

    footer#site-footer section.horizontal-footer-section div {
        flex-basis: 100%;
        width: 100%
    }

    footer#site-footer #footer-logo {
        margin-right: 0
    }

    footer#site-footer section#footer-bottom-section div {
        text-align: center
    }

    footer#site-footer section.horizontal-footer-section#footer-bottom-section {
        margin: 1.32rem 0;
        padding: 0;
        border-top: 0
    }

    footer#site-footer section#footer-bottom-section #footer-social-buttons {
        margin-top: 1.32rem
    }
}

/* /Footer */


/* GRID */
.l-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%
}

@media only screen and (min-width:768px) {
    .l-container {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

@media only screen and (min-width:1280px) {
    .l-container {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

.l-section {
    padding-bottom: 2rem
}

@media only screen and (min-width:768px) {
    .l-section {
        padding-bottom: 4rem
    }
}

.l-site-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    transition: box-shadow .4s cubic-bezier(.36, .64, .23, .94), background-color .8s cubic-bezier(.36, .64, .23, .94), padding ease-in-out .4s, height ease-in-out .4s, transform .4s cubic-bezier(.36, .64, .23, .94) .2s;
    z-index: 30
}

@media only screen and (min-width:992px) {
    .l-site-header {
        height: 5rem
    }
}

.l-footer {
    padding-bottom: 2rem;
    padding-top: 4rem;
    position: relative;
    min-height: 100vh;
    transition: background-color .8s cubic-bezier(.36, .64, .23, .94) .2s, color .4s cubic-bezier(.36, .64, .23, .94) .2s
}

@media only screen and (min-width:768px) {
    .l-footer {
        padding-top: 6rem
    }
}

.l-footer .c-footer-heading {
    transition: color .4s cubic-bezier(.36, .64, .23, .94)
}

.l-grid--footer {
    padding-bottom: 4rem
}

.l-header .l-container {
    display: flex;
    flex-flow: column;
    padding-top: 4rem;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
}

@media only screen and (min-width:768px) {
    .l-header .l-container {
        padding-top: 4rem
    }
}

.l-header--extended {
    position: relative
}

.l-header__background {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color .4s cubic-bezier(.36, .64, .23, .94), filter .4s cubic-bezier(.36, .64, .23, .94);
    z-index: -1
}

@media only screen and (min-width:768px) {
    .l-header__background {
        height: 100vh
    }
}

.l-header__background .l-header__media {
    transition: opacity .4s cubic-bezier(.36, .64, .23, .94)
}

.l-featured {
    padding-bottom: 6rem;
    padding-top: 4rem
}

@media only screen and (min-width:768px) {
    .l-featured {
        padding-bottom: 6rem;
        padding-top: 4rem
    }
}

.l-featured .c-frame--tablet {
    width: calc(100% + 2rem)
}

@media only screen and (min-width:992px) {
    .l-featured .c-frame--tablet {
        width: calc(100% + 4rem)
    }
}

.l-featured:nth-child(odd) .c-frame--tablet {
    margin-left: -2rem
}

@media only screen and (min-width:992px) {
    .l-featured:nth-child(odd) .c-frame--tablet {
        margin-left: -4rem
    }
}

.l-featured:nth-child(odd) .c-frame--tablet {
    padding-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.l-featured:nth-child(odd) .l-featured__media {
    order: -10
}

@media only screen and (min-width:992px) {
    .l-featured:nth-child(odd) .l-featured__media {
        margin-right: 8.33333%
    }
}

@media only screen and (min-width:768px) {
    .l-featured:nth-child(odd) .l-featured__media--mobile {
        margin-left: 16.66667%;
        margin-right: 8.33333%
    }
}

@media only screen and (min-width:992px) {
    .l-featured:nth-child(odd) .l-featured__media--mobile {
        margin-left: 16.66667%;
        margin-right: 16.66667%
    }
}

.l-featured:nth-child(even) .c-frame--tablet {
    margin-left: auto;
    margin-right: -2rem
}

@media only screen and (min-width:768px) {
    .l-featured:nth-child(even) .c-frame--tablet {
        margin-right: -4rem
    }
}

.l-featured:nth-child(even) .c-frame--tablet {
    padding-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

@media only screen and (min-width:992px) {
    .l-featured:nth-child(even) .l-featured__media {
        margin-left: 8.33333%
    }
}

@media only screen and (min-width:768px) {
    .l-featured:nth-child(even) .l-featured__media--mobile {
        margin-left: auto;
        margin-right: 16.66667%
    }
}

.l-case-media {
    padding-top: 3rem;
    padding-bottom: 3rem
}

@media only screen and (min-width:768px) {
    .l-case-media {
        padding-bottom: 6rem;
        padding-top: 5rem
    }
}

.l-case-content {
    padding: 2rem 0
}

.l-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    width: calc(100% + 2rem)
}

.l-grid--center {
    justify-content: center
}

.l-grid--v-center {
    align-items: center
}

.l-grid--v-bottom {
    align-items: flex-end
}

.l-col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem
}

.l-col-offset-0 {
    margin-left: 0
}

.l-col-1 {
    flex-basis: 8.33333%;
    flex-grow: 0;
    max-width: 8.33333%;
    padding-left: 1rem;
    padding-right: 1rem
}

.l-col-offset-1 {
    margin-left: 8.33333%
}

.l-col-2 {
    flex-basis: 16.66667%;
    flex-grow: 0;
    max-width: 16.66667%;
    padding-left: 1rem;
    padding-right: 1rem
}

.l-col-offset-2 {
    margin-left: 16.66667%
}

.l-col-3 {
    flex-basis: 25%;
    flex-grow: 0;
    max-width: 25%;
    padding-left: 1rem;
    padding-right: 1rem
}

.l-col-offset-3 {
    margin-left: 25%
}

.l-col-4 {
    flex-basis: 33.33333%;
    flex-grow: 0;
    max-width: 33.33333%;
    padding-left: 1rem;
    padding-right: 1rem
}

.l-col-offset-4 {
    margin-left: 33.33333%
}

.l-col-5 {
    flex-basis: 41.66667%;
    flex-grow: 0;
    max-width: 41.66667%;
    padding-left: 1rem;
    padding-right: 1rem
}

.l-col-offset-5 {
    margin-left: 41.66667%
}

.l-col-6 {
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
    padding-left: 1rem;
    padding-right: 1rem
}

.l-col-offset-6 {
    margin-left: 50%
}

.l-col-7 {
    flex-basis: 58.33333%;
    flex-grow: 0;
    max-width: 58.33333%;
    padding-left: 1rem;
    padding-right: 1rem
}

.l-col-offset-7 {
    margin-left: 58.33333%
}

.l-col-8 {
    flex-basis: 66.66667%;
    flex-grow: 0;
    max-width: 66.66667%;
    padding-left: 1rem;
    padding-right: 1rem
}

.l-col-offset-8 {
    margin-left: 66.66667%
}

.l-col-9 {
    flex-basis: 75%;
    flex-grow: 0;
    max-width: 75%;
    padding-left: 1rem;
    padding-right: 1rem
}

.l-col-offset-9 {
    margin-left: 75%
}

.l-col-10 {
    flex-basis: 83.33333%;
    flex-grow: 0;
    max-width: 83.33333%;
    padding-left: 1rem;
    padding-right: 1rem
}

.l-col-offset-10 {
    margin-left: 83.33333%
}

.l-col-11 {
    flex-basis: 91.66667%;
    flex-grow: 0;
    max-width: 91.66667%;
    padding-left: 1rem;
    padding-right: 1rem
}

.l-col-offset-11 {
    margin-left: 91.66667%
}

.l-col-12 {
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem
}

.l-col-offset-12 {
    margin-left: 100%
}

@media screen and (min-width:320px) {
    .l-col-mi-offset-0 {
        margin-left: 0
    }

    .l-col-mi-1 {
        flex-basis: 8.33333%;
        flex-grow: 0;
        max-width: 8.33333%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-mi-offset-1 {
        margin-left: 8.33333%
    }

    .l-col-mi-2 {
        flex-basis: 16.66667%;
        flex-grow: 0;
        max-width: 16.66667%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-mi-offset-2 {
        margin-left: 16.66667%
    }

    .l-col-mi-3 {
        flex-basis: 25%;
        flex-grow: 0;
        max-width: 25%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-mi-offset-3 {
        margin-left: 25%
    }

    .l-col-mi-4 {
        flex-basis: 33.33333%;
        flex-grow: 0;
        max-width: 33.33333%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-mi-offset-4 {
        margin-left: 33.33333%
    }

    .l-col-mi-5 {
        flex-basis: 41.66667%;
        flex-grow: 0;
        max-width: 41.66667%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-mi-offset-5 {
        margin-left: 41.66667%
    }

    .l-col-mi-6 {
        flex-basis: 50%;
        flex-grow: 0;
        max-width: 50%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-mi-offset-6 {
        margin-left: 50%
    }

    .l-col-mi-7 {
        flex-basis: 58.33333%;
        flex-grow: 0;
        max-width: 58.33333%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-mi-offset-7 {
        margin-left: 58.33333%
    }

    .l-col-mi-8 {
        flex-basis: 66.66667%;
        flex-grow: 0;
        max-width: 66.66667%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-mi-offset-8 {
        margin-left: 66.66667%
    }

    .l-col-mi-9 {
        flex-basis: 75%;
        flex-grow: 0;
        max-width: 75%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-mi-offset-9 {
        margin-left: 75%
    }

    .l-col-mi-10 {
        flex-basis: 83.33333%;
        flex-grow: 0;
        max-width: 83.33333%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-mi-offset-10 {
        margin-left: 83.33333%
    }

    .l-col-mi-11 {
        flex-basis: 91.66667%;
        flex-grow: 0;
        max-width: 91.66667%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-mi-offset-11 {
        margin-left: 91.66667%
    }

    .l-col-mi-12 {
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-mi-offset-12 {
        margin-left: 100%
    }
}

@media screen and (max-width:319px) {
    .l-col--hidden-mi-down {
        display: none !important
    }
}

@media screen and (min-width:768px) {
    .l-col-sm-offset-0 {
        margin-left: 0
    }

    .l-col-sm-1 {
        flex-basis: 8.33333%;
        flex-grow: 0;
        max-width: 8.33333%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-sm-offset-1 {
        margin-left: 8.33333%
    }

    .l-col-sm-2 {
        flex-basis: 16.66667%;
        flex-grow: 0;
        max-width: 16.66667%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-sm-offset-2 {
        margin-left: 16.66667%
    }

    .l-col-sm-3 {
        flex-basis: 25%;
        flex-grow: 0;
        max-width: 25%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-sm-offset-3 {
        margin-left: 25%
    }

    .l-col-sm-4 {
        flex-basis: 33.33333%;
        flex-grow: 0;
        max-width: 33.33333%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-sm-offset-4 {
        margin-left: 33.33333%
    }

    .l-col-sm-5 {
        flex-basis: 41.66667%;
        flex-grow: 0;
        max-width: 41.66667%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-sm-offset-5 {
        margin-left: 41.66667%
    }

    .l-col-sm-6 {
        flex-basis: 50%;
        flex-grow: 0;
        max-width: 50%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-sm-offset-6 {
        margin-left: 50%
    }

    .l-col-sm-7 {
        flex-basis: 58.33333%;
        flex-grow: 0;
        max-width: 58.33333%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-sm-offset-7 {
        margin-left: 58.33333%
    }

    .l-col-sm-8 {
        flex-basis: 66.66667%;
        flex-grow: 0;
        max-width: 66.66667%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-sm-offset-8 {
        margin-left: 66.66667%
    }

    .l-col-sm-9 {
        flex-basis: 75%;
        flex-grow: 0;
        max-width: 75%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-sm-offset-9 {
        margin-left: 75%
    }

    .l-col-sm-10 {
        flex-basis: 83.33333%;
        flex-grow: 0;
        max-width: 83.33333%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-sm-offset-10 {
        margin-left: 83.33333%
    }

    .l-col-sm-11 {
        flex-basis: 91.66667%;
        flex-grow: 0;
        max-width: 91.66667%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-sm-offset-11 {
        margin-left: 91.66667%
    }

    .l-col-sm-12 {
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .l-col-sm-offset-12 {
        margin-left: 100%
    }
}

@media screen and (max-width:767px) {
    .l-col--hidden-sm-down {
        display: none !important
    }
}

@media only screen and (min-width:320px) {
    header {
        font-size: calc(16px + 4 * (100vw - 576px)/ 2304)
    }
}

@media only screen and (min-width:2880px) {
    header {
        font-size: 1.1vw
    }
}


.c-logo {
    display: block;
    font-size: 1rem;
    overflow: hidden;
    padding-bottom: 2rem;
    padding-top: 2rem;
    position: relative;
    transition: padding ease-in-out .4s
}

.c-logo .icon {
    display: block;
    width: calc(111 / 18rem);
    height: 1rem;
    overflow: visible;
    position: relative
}

.c-nav-toggle {
    font-size: 2rem;
    height: 2rem;
    width: 2rem
}

@supports (-webkit-overflow-scrolling:touch) {
    .c-modal__main {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch
    }
}

.c-menu {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    margin-left: -1rem;
    margin-right: -1rem
}

.c-menu__item {
    color: #767676;
    flex-basis: 25%;
    max-width: 25%;
    padding-left: 1rem;
    padding-right: 1rem
}

.c-footer-heading {
    color: #000;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 2rem
}

.c-footer-menu {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    width: 100%
}

@media only screen and (min-width:768px) {
    .c-footer-menu {
        margin-bottom: 0
    }
}


.c-footer-menu__item a[href=""]:focus,
.c-footer-menu__item a[href=""]:hover {
    color: inherit
}

.c-meta {
    color: #767676;
    font-size: .875rem;
    line-height: 1.25rem
}

.c-meta--large {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.c-meta__item {
    display: block;
    padding-bottom: 1rem
}

.c-meta__item:last-child:not(:first-child) {
    padding-bottom: 0
}

.c-meta__label {
    color: #fff;
    display: block;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px
}

.c-meta__content {
    display: block;
    hyphens: auto;
    font-size: 15px
}

.c-meta__term {
    display: inline-block
}

.c-meta__term:not(:last-child)::after {
    content: "\2219";
    display: inline-block;
    font-size: 2em;
    line-height: .5em;
    vertical-align: middle
}

.c-header {
    padding-bottom: 4rem
}

.c-header__title {
    font-size: 50px;
    line-height: 2.25rem;
    color: #fff
}

.c-header__featured-meta {
    padding-bottom: 2rem
}

@media only screen and (min-width:768px) {
    .c-header__featured-meta {
        padding-bottom: 4rem
    }
}

.c-content {
    hyphens: auto
}

.c-frame {
    background-color: #fff;
    border-radius: 1.5625vw;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, .1);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 3.125vw;
    width: 100%;
    position: relative;
    z-index: 1
}

.c-frame--mobile {
    padding: 6.25vw .78125vw
}

@media only screen and (min-width:768px) {
    .c-frame--mobile {
        padding: 3.125vw .39063vw
    }
}

.c-frame__inner {
    height: 100%;
    width: 100%
}

.c-frame--mobile .c-frame__inner,
.c-frame--tablet .c-frame__inner {
    border: 1px solid #f7f7f7
}

.c-frame__content {
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
    position: relative;
    z-index: -2
}

.c-frame__media {
    display: block;
    z-index: 1;
    width: 100%;
    height: auto
}

.c-media {
    margin-left: 1rem;
    margin-right: 1rem
}

.c-media {
    min-height: 50vw
}

.c-card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, .1);
    display: block;
    margin-bottom: 4rem;
    padding: 2rem;
    transition: background-color .8s cubic-bezier(.36, .64, .23, .94), box-shadow .4s cubic-bezier(.36, .64, .23, .94)
}

@media only screen and (min-width:768px) {
    .c-card {
        padding: 3rem
    }
}


@media only screen and (min-width:992px) {

    .c-card--image .c-card__content,
    .c-card--image .c-card__footer,
    .c-card--image .c-card__heading {
        padding-right: 2rem
    }
}

.c-card__heading {
    font-size: 30px;
    padding-bottom: 2rem;
    color: black;
}

.c-card__content {
    color: #767676;
    font-size: 20px;
    padding-bottom: 2rem
}

.c-card__footer {
    margin-top: auto;
    padding-top: 2rem
}

@media only screen and (min-width:992px) {
    .c-card__footer {
        padding-top: 4rem
    }
}

.c-card__button {
    background-color: transparent
}

.c-card__media {
    height: calc(100% + 2rem);
    margin-bottom: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -2rem;
    overflow: hidden;
    position: relative;
    width: calc(100% + 4rem);
    background: black;
}

@media only screen and (min-width:768px) {
    .c-card__media {
        height: calc(100% + 6rem);
        margin-bottom: -3rem;
        margin-left: -1rem;
        margin-right: -3rem;
        margin-top: -3rem;
        width: calc(100% + 4rem);
    }
}

.c-card__media img {
    transition: opacity .4s ease-in-out, transform .4s cubic-bezier(.36, .64, .23, .94);
    filter: invert(1);
}

.c-card__media--4-3 {
    padding-top: 75%
}

.c-card__media--4-3 .c-card__image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.c-section-header__title {
    font-size: 2rem;
    line-height: 2.25rem;
    padding-bottom: 1rem
}

@media only screen and (min-width:992px) {
    .c-section-header__title {
        font-size: 3rem;
        line-height: 3.5rem;
        padding-bottom: 2rem
    }
}

.c-featured-btn {
    position: absolute;
    top: 20px;
    width: 100px;
    display: flex;
    color: white;
    line-height: 90px;
    font-size: 50px;
    padding-left: 30px;
}

.l-header {
    display: flex;
    flex-direction: column
}