@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600);
@import url(http://weloveiconfonts.com/api/?family=brandico|entypo);

main {
    position: relative!important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes;
@-webkit-keyframes fish {
  0%, 70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fish {
  0%, 70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes;
html {
  height: 100%;
}

.Toggle i {
  top: 15px;
  position: absolute;
  font-size: 25px;
  line-height: 30px;
  left: 16px;
  color: white;
}

.fish, .fish-shadow {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  -moz-animation: fish 3s forwards ease-in-out;
  -webkit-animation: fish 3s forwards ease-in-out;
  animation: fish 3s forwards ease-in-out;
  pointer-events: none;
}
.fish path, .fish-shadow path {
  fill: #fff;
}
.fish path:hover, .fish-shadow path:hover {
  fill: #0f33ff;
}
.fish .line, .fish-shadow .line {
  fill: none;
}

.fish-shadow-con {
  opacity: 0.2;
  filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
}

.fish-shadow {
  top: -125px;
  left: -157px;
}
.fish-shadow path {
  fill: #211922;
}
.fish-shadow path:hover {
  fill: #211922;
}

.fish-shadow {
  -webkit-filter: url("#goo");
  filter: url(#goo);
  top: -125px;
  left: -157px;
  opacity: 0.4;
}

/* Increase scale of an element on hover */
.hover-grow,
.anim-hover-grow {
  transition: transform 0.3s;
  backface-visibility: hidden;
}
.hover-grow:hover,
.anim-hover-grow:hover {
  transform: scale(1.025);
}

/* Pulse in an element */
.anim-pulse-in {
  animation-name: pulse-in;
  animation-duration: 0.5s;
}

@keyframes pulse-in {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
#location {
  width: 100%;
  min-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
}

#map {
  height: 450px;
  width: 100%;
}

.address-side .heading {
  min-height: 60px;
  line-height: 60px;
  padding: 0 10px;
  background: var(--darken);
  color: var(--main-color);
}
.address-side .heading h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.address-side .listings {
  overflow: auto;
}
.address-side .listings ul {
  padding: 0;
  list-style: none;
}
.address-side .listings .social-links {
  display: flex;
  justify-content: center;
}
.address-side .listings .social-links li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
.address-side .listings .social-links .social-icon {
  margin: 0 0.25rem;
  color: var(--darken);
}
.address-side .listings .item {
  color: var(--darken);
  margin-top: 1rem;
  padding: 0 0.25rem;
  display: block;
  text-decoration: none;
}
.address-side .listings .item .title {
  display: block;
  font-weight: 700;
}


/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  padding-right: 10px;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

#browser {
  color: white;
  border: 1px solid white;
  width: 95%;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}

#browser-bar {
  background: #000;
  border-bottom: 1px solid white;
  width: 100%;
  padding: 8px;
  margin: 0 auto;
  font-weight: 300;
  position: relative;
}
#browser-bar p {
  text-align: center;
}

.arrow {
  position: absolute;
  right: 3px;
  top: 6px;
  font-size: 1.2em;
  color: #8e9699;
}

#content {
  background: #000;
}
#content:after {
  content: "";
  display: table;
  clear: both;
}
#content #left, #content #right {
  height: 100%;
}
#content #left {
  float: left;
  width: 75%;
  background: #0f33ff;
}
@media all and (max-width: 780px) {
  #content #left {
    width: 100%;
  }
}
#content #left #map {
  height: 388px;
  position: relative;
  background-image: url("http://f.cl.ly/items/452R3S1440221Z3m372j/israel.png");
  background-size: cover;
}
#content #left #map p {
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 30px;
  font-weight: 600;
}
#content #left #map .zoom {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 2px;
  height: 70px;
  background: white;
}
#content #left #map .zoom:before, #content #left #map .zoom:after {
  text-align: center;
  font-weight: 600;
  position: absolute;
  color: #0f33ff;
  background: white;
  width: 20px;
}
#content #left #map .zoom:before {
  content: '+';
  top: -10px;
  right: -8px;
}
#content #left #map .zoom:after {
  content: '-';
  bottom: -10px;
  right: -8px;
}
#content #left #map .map-locator {
  position: absolute;
  top: 40%;
  left: 30%;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  background: rgba(0, 0, 0, 0.4);
  border: solid 2px white;
}
#content #left #map .map-locator:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 5px;
}
#content #left #map .map-locator .tooltip {
  position: absolute;
  color: #394141;
  left: 50px;
  top: -10px;
  background: white;
  font-weight: 600;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#content #left #map .map-locator .tooltip:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 14px;
  border-right: solid white 10px;
  border-top: solid transparent 8px;
  border-bottom: solid transparent 8px;
}
#content #left #map .map-locator .tooltip [class*="entypo-"] {
  min-width: 25px;
  display: inline-block;
  text-align: center;
  border-right: solid thin #CCC;
  margin-right: 5px;
}
#content #left #map .map-locator .tooltip li {
  border-bottom: solid thin #CCC;
  padding: 10px;
  white-space: nowrap;
}
#content #left #map .map-locator .tooltip li a {
  color: #51B2D6;
}
#content #left #map .map-locator .tooltip li:hover [class*="entypo-"] {
  color: #51B2D6;
}
#content #left ul#location-bar {
  width: 100%;
  text-align: center;
  display: table;
}
#content #left ul#location-bar li {
  display: table-cell;
  padding: 15px;
  background: black;
  border-right: solid thin white;
  border-top: solid thin white;
}

#content #left ul#location-bar li:hover {
  background: #0f33ff;
}
#content #left ul#location-bar .active {
  background: #fff;
}
#content #right {
  float: left;
  width: 25%;
  background: #000;
  padding: 15px;
}
@media all and (max-width: 780px) {
  #content #right {
    width: 100%;
  }
}
#content #right p {
  margin-bottom: 10px;
}
#content #right a:hover {
  color: #51B2D6;
}
#content #right #social {
  display: table;
  width: 100%;
}
#content #right .social {
  display: table-cell;
  text-align: center;
}
#content #right form {
  margin-bottom: 20px;
}
#content #right form input,
#content #right form textarea {
  background: #000;
  border: 1px solid white;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  color: white;
}
#content #right form input:last-of-type,
#content #right form textarea:last-of-type {
  margin-bottom: 0;
}
#content #right form input[type='submit'],
#content #right form textarea[type='submit'] {
  text-transform: uppercase;
  background: #0f33ff;
  width: 50%;
  color: white;
  margin-top: 5px;
}
#content #right form input[type='submit']:hover,
#content #right form textarea[type='submit']:hover {
  background: black;
  border: 1px solid white;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#content #right form input[type='textarea'],
#content #right form textarea[type='textarea'] {
  min-height: 75px;
  vertical-align: text-top;
}
#content #right p.other {
  margin-bottom: 5px;
  font-weight: 100;
}
#content #right p.other,
#content #right p.other a {
  color: #8e9699;
}

@media screen and (max-width: 768px) {
    #browser {
      border: 0;
      height: 100%;
      width: 100%;
    }
    #browser-bar {
        display: none!important;
    }
    #content #left ul#location-bar {
        border-bottom: 1px solid white;
    }
}