@import url(https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,300);
body {margin:0;background:rgb(19,19,20);;font-weight:300;color:white;font-family: "RobotoDraft", Helvetica, Arial, sans-serif;letter-spacing:.1px;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;}
main {width: calc(100% - 6rem);}
.toolbar {height:50px;background:black}
.tabs {padding-top:0}
.tabs ul {list-style:none;margin:0;width:100%;padding: 0;overflow-x: scroll;display: -webkit-inline-box;}
.tabs ul li {float:left;}
.tabs a {position:relative;color:white;text-decoration:none;display:block;width:100px;height:50px;text-align:center;line-height:52px;font-weight:700;font-size:14px;color:rgba(255,255,255,0.6);overflow:hidden;}
.tabs .active a {color:white;}
.tabs .active a:after {height:2px;width:100%;display:block;content:" ";bottom:0px;left:0px;position:absolute;background:#4dc4ff;
-webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;-moz-animation: border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;transition:all 1s cubic-bezier(0.4, 0.0, 1, 1);}
.tabs a span {position:absolute;margin-left:-40px;margin-top:-24px;width:80px;background:#4dc4ff;height:100%;display:block;border-radius:50%;opacity:0;}
.tabs a span.clicked {-webkit-animation: expand 0.6s cubic-bezier(0.4, 0.0, 0.4, 1) 0s normal;-moz-animation: expand 0.6s cubic-bezier(0.4, 0.0, 0.4, 1) 0s normal;border-bottom:2px solid #4dc4ff;}
.content {box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4); height: 100%; padding-top: 30px; position: relative; top: 0px; overflow: scroll;}
.item {background:rgb(34,35,39);width:80%;padding-bottom:30px;margin:0 auto 2em; border-radius: 16px;}
.itemhead {overflow:hidden;position:relative;padding: 0 25px;}
.itemhead img {border-radius:100%;float:left}
.itemhead h2 {font-weight:400;}
.itemhead .heart {cursor:pointer;position:absolute;right:4px;top:4px;padding:7px;border-radius:2px}
.item p:first-of-type {margin-top:0}
.item p {padding:0px 30px;font-size:19px;line-height:26px;margin:0;margin-top:1em;}
.item a {text-decoration:none;color:#4dc4ff;font-weight:500;font-size:0.8em;}
.item ul {font-size: 19px; padding: 0 45px;}

.heart:hover {box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.1)}
.heart #favorite {fill:#636363}
.heart.active #favorite {fill:#DA4336;}

.box {display:none;overflow:auto;position:relative;overflow-x:hidden;}
.box.show {display:block;}

.app-name {position: relative; color: white; text-decoration: none; display: block; height: 50px; text-align: center; line-height: 52px; font-weight: 900; font-size: 20px;overflow: hidden; background: rgba(255,255,255,0.1); padding: 0 15px;}

@media only screen and (max-width: 767px) {main {width: calc(100%);}}

@-webkit-keyframes expand {
    0% {
        background:rgba(255,255,141,1);
        opacity:1;
        border-radius:100%;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform:scale(0);
    }
    50% {
        background:rgba(255,255,141,0.8);
        border-radius:50%;
    }
    100% {
        background:rgba(255,255,141,0);
        transform: scale(3);
        border-radius: 0;
        -webkit-transform: scale(3);
        -moz-transform:scale(3);
        opacity:1;
    }
}
@-moz-keyframes expand {
    0% {
        background:rgba(255,255,141,1);
        opacity:1;
        border-radius:100%;
        transform: scale(0);
        -moz-transform:scale(0);
    }
    50% {
        background:rgba(255,255,141,0.8);
        border-radius:50%;
    }
    100% {
        background:rgba(255,255,141,0);
        transform: scale(3);
        border-radius: 0;
        -moz-transform:scale(3);
        opacity:1;
    }
}
@-webkit-keyframes border-expand {
    0% {
        opacity:0;
        width:0;
    }
    100% {
        opacity:1;
        width:100%;
    }
}
@-moz-keyframes border-expand {
    0% {
        opacity:0;
        width:0;
    }
    100% {
        opacity:1;
        width:100%;
    }
}